body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
}

h1 {
    color: #333;
}

#cameraContainer {
    margin: 20px;
    border: 2px solid #333;
    border-radius: 8px;
    overflow: hidden;
}

#cameraView {
    width: 50%;
}

#objectInfo {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#objectName {
    font-size: 18px;
    color: #333;
}
